:host {
  @apply block overflow-hidden; 
}

.simple-card {
  @apply relative;

  &__background {

  }

  &__content {
    @apply absolute
      bottom-0
      px-4
      py-6
      text-center
      w-full
      text-neutral-white;
  }

  &__tag {
    @apply uppercase;
  }

  &__title {

    a {
      color: inherit;
    }
  }

  &__meta {

  }

}